In [1]:
import pandas as pd

In [2]:
transactions = pd.read_csv("https://s3.amazonaws.com/isc-isc/trips_gdrive.csv")
transactions['Item Dollars'] = transactions['Item Dollars'].str.replace('$', '')
transactions['Item Dollars'] = transactions['Item Dollars'].astype(float)

transactions["Total"] = transactions["Item Dollars"] * transactions["Item Units"]

In [3]:
transactions.head()

,Trip ID,Date,Retailer,Parent Brand,User ID,Item Dollars,Item Units,Total
0,9518383,1/2/2014,Walmart,Monster,118789,2.0,1,2.0
1,9536651,1/2/2014,Walmart,Red Bull,191043,2.0,1,2.0
2,9538542,1/2/2014,Walmart,Red Bull,36949,2.0,1,2.0
3,9540308,1/2/2014,Walgreens,5 Hour Energy,310300,8.0,2,16.0
4,9543394,1/2/2014,Kroger,Rockstar,310076,9.0,5,45.0

In [5]:
total_amount_by_household = transactions.groupby(["Parent Brand","User ID"])["Total"].sum()
total_amount_by_household
# brand = total_amount_by_household.idxmax()[0]
# brand

Parent Brand   User ID
5 Hour Energy  975         15.0
               1379         3.0
               1999         5.0
               3013         3.0
               3151         8.0
               4656         5.0
               4913         3.0
               5335        10.0
               8271         2.0
               10062        2.0
               10280        6.0
               12289       30.0
               13348       23.0
               13959        3.0
               14211       18.0
               15651        5.0
               15948        5.0
               16827        7.0
               16958        5.0
               17300       16.0
               17818        5.0
               19360        2.0
               19470       18.0
               19696        5.0
               19701        5.0
               19943       15.0
               23545        3.0
               24076       70.0
               24113       40.0
               24401       25.0
                          ...
Rockstar       552548       1.0
               553541       2.0
               553595       2.0
               555148       2.0
               555467       2.0
               555707      10.0
               556004      16.0
               557422       2.0
               558172       2.0
               558472       2.0
               558669       4.0
               559125      80.0
               560260       2.0
               560693       8.0
               560840       9.0
               562307       5.0
               562408     121.0
               562726       2.0
               563092       2.0
               563245       8.0
               563418       1.0
               565693       4.0
               567449       1.0
               570348      20.0
               570863       8.0
               572488      32.0
               576439       6.0
               577521      48.0
               578822       6.0
               579685       1.0
Name: Total, Length: 12834, dtype: float64

In [7]:
brand = total_amount_by_household.idxmax()[0]
brand

'Rockstar'